.groups-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    padding-top: 100px;
}
.group {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
.group > div {
    display: flex;
}
.group > div > div {
    padding-left:15px;
}
.group-title {
    display: flex;
}
.group-title > div {
    margin-left: 10px;
    flex-grow: 1;
}
.group-title > i {
    font-size: 64px;
    margin-left: 10px;
    margin-top: 10px;
}

.edit-container {
    display: flex;
    flex-wrap: wrap;
}
.edit-container > div {
    flex-grow: 1;
    margin: 10px;
}
.group-edit {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
    height: 100%;
}
.lists-card > h5{
    margin-top:0px;
    padding: 15px;
}

.single-list-view {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.single-list-view > h5 {
    flex-grow: 1;
    padding: 10px;
}
.single-list-view > i {
    padding-top: 10px;
    font-size: 3em;
}
.single-list-view > img {
    max-height: 48px;
}
.icon-desc {
    display: flex;
    padding-top: 10px;
}
.icon-desc > i {
    width: auto;
    padding-top: 0px;
}
.icon-desc > p {
    flex-grow: 1;
}
.group-options {
    display: flex;
    margin:10px;
}
.group-options > div {
    margin-left: 10px;
}
.add-group {
    min-width: 80%;
    flex-grow: 1;
}
.circle-color {
    border-radius: 24px;
    height: 48px;
    width: 48px;
    margin: 10px;
    cursor: pointer;
}
.color-container {
    display: flex;
    flex-wrap: wrap;
}
.icon-container {
    display: flex;
    flex-wrap: wrap;
}
.icon-container img {
    max-height: 32px;
    cursor: pointer;
    margin:5px;
}

@media screen and (max-width: 800px) {
    .groups-container {
        padding-top: 10px;
    }
    .icon-desc {
        padding: 0px;
    }
    .icon-desc > p {
        display: none;
    }
    .icon-desc > i{
        padding:10px;
    }
    .single-list-view:last-child > .icon-desc > p {
        display: block;
    }
}
